@model ShoppingCartWeb.Models.Order
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

@{
    ViewBag.Title = "Address And Payment";
}

<form asp-controller="Checkout" asp-action="AddressAndPayment" method="post" id="formCheckout">
    <div class="row">
        <h2>Address And Payment</h2>
        <hr/>
    </div>
    <fieldset>
        <legend>Shipping Information</legend>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.FirstName)
            <div class="">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.LastName)
            <div class="">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.Address)
            <div class="">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.City)
            <div class="">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.State)
            <div class="">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.PostalCode)
            <div class="">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.Country)
            <div class="">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.Phone)
            <div class="">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-10 form-group">
            @Html.LabelFor(model => model.Email)
            <div class="">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

    </fieldset>
    <br />

    <form action="/ShoppingCarts/Payment" method="POST" id="cardPayment">
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Submit Order"
                data-amount=@( "00")>
        </script>
        <input type="hidden" id="monto" name="monto" value="@(  "00")" />
    </form>
    <button  type="submit" class="btn btn-primary" id="submit">Submit Order</button>
</form>

<style>
    #submit{
        z-index: 999999999;
        position: absolute;
        margin-top: -34px;
    }
</style>

<script>
    $(document).ready(function(){
        $("#submit").on("click", function (e){
            e.preventDefault();
            console.log("submit")
            $(".stripe-button-el").click()
        });
    })
</script>
